Login Component

<!DOCTYPE html>
<html data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <sly data-sly-call="${clientlib.css @ categories='clientlib-loginComponent'}"/>

    <title>Sample Page</title>
</head>
<body>
    <h1>Hello, World!</h1>

    <button id="myButton">Click me</button>

  <sly data-sly-call="${clientlib.js @ categories='clientlib-loginComponent'}"/>

</body>
</html>

